<section data-ng-controller="HomeController">
	<div class="hero-unit">
		WELCOME!
	</div>
	<!--<div class="row">
		<img width="1140" src='http://mms.businesswire.com/media/20140227005501/en/405267/5/LR_Product_Range_highres.jpg'></img>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-2">
			<img  width="200" src="http://41.media.tumblr.com/2d986d4bc9363061f7f32a3fc13e1419/tumblr_inline_nslgojuPbR1qk50c3_540.jpg"></img>
		</div>
		<div class="col-xs-4">
			<h2>Hiya!</h2>
			<p>I have uneven monolids and ahh makeup can be such a struggle x’)  I recently made my first makeup tutorial, and wanted to share it with you~  have a lovely day ^o^ go team monolid!! hehe</p>
		<div>
	</div>-->
</section>